a {
  color: black !important;
}

.docenter {
  margin: 20px auto;
  text-align: center;
  max-width: 400px;
  padding: 20px;
}
.link {
  color: rgb(14, 141, 245) !important;
  cursor: pointer !important;
}

.btn-block {
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.mypost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.sideimg {
  display: flex;
  flex-direction: row;
}
.sidescreen {
  width: 40% !important;
  height: 90vh !important;
  margin-top: 20px;
}
.rightscreen {
  display: inline-block;
  vertical-align: top;
  margin-top: 115px;
}
.mypic {
  width: 30%;
  height: 30vh;
  margin: 10px 0px;
}
.home {
  max-width: 50%;
  margin: 10px auto;
}
.insidecard {
  padding: 3%;
}
.loader {
  position: absolute;
  bottom: 50%;
  right: 50%;
}
.material-icons:hover {
  cursor: pointer;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px black !important;
  box-shadow: 0 1px 0 0 black !important;
}
